/* || General setup */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* || header layout */
.header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    background-color: darkgreen;
    padding-bottom: 15px;
}

.header h1 {
    flex: 5;
    color: darkseagreen;
}

.header img {
    display: block;
    height: 100px;
    padding-top: 20.15px;
}


/* || wrapper layout */

.wrapper {
    display: flex;
    max-width: 960px;
    align-items: center;
    justify-content: center;
}

.contents {
    display: flex;

}

.media {

    flex: 33.33%;
    display: flex;
}

.other{

    display: flex;

}

/* || typography */

h1, h2, h3 {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
  }